<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placeholder-generator</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

<div class="form">
    <div class="container">
        <form action="" method="post">
            <label>
                Высота
                <input type="text" name="" id="">
            </label>
            <label>
                Ширина
                <input type="text" name="" id="">
            </label>
            <label>
                Цвет фона
                <input type="color" name="" id="">
            </label>
            <label>
                Цвет текста
                <input type="color" name="" id="">
            </label>
            <label>
                Текст
                <input type="text" name="" id="">
            </label>
            <label class="submit">
                <input type="submit" value="Сгенерировать">
            </label>
        </form>
    </div>
</div>
</body>
</html>