<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Placeholder-generator</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

<div class="form">
    <div class="container">
        <form method="get" action="/image">
            <label>
                Высота
                <input type="text" name="height" id="height">
            </label>
            <label>
                Ширина
                <input type="text" name="width" id="width">
            </label>
            <label>
                Цвет фона
                <input type="color" name="background_color" id="background_color">
            </label>
            <label>
                Цвет текста
                <input type="color" name="text_color" id="text_color">
            </label>
            <label>
                Текст
                <input type="text" name="text" id="text">
            </label>
            <label class="submit">
                <input type="submit" value="Сгенерировать">
            </label>
        </form>

    </div>
</div>

</body>
</html>
